<section>
<h1>Project</h1>
<div >
    <table>
      <thead>
        <tr>
          <th class="hidden">ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of projects; let i = index">
            <td class="hidden"><input type="text" [(ngModel)]="item.id" [readOnly]="true" placeholder="Will be created automatically"></td>
            <td><input type="text" [(ngModel)]="item.name" [readOnly]="!item.editing"></td>
            <td><input type="text" [(ngModel)]="item.description" [readOnly]="!item.editing"></td>
            <td>
              <button class="blue" *ngIf="!item.editing" (click)="editItem(i)">Edit</button>
              <button class="blue" *ngIf="item.editing" (click)="saveItem(i, item.id)">Save</button>
              <button class="red" (click)="deleteItem(i, item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <select [(ngModel)]="selectedProjectId" (change)="onProjectChange()">
      <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
    </select> -->
    
    <button class="green" (click)="addItem()">Add</button>
  </div>
</section>