<div #pdfcontent>
<!-- Top Navbar -->
<nav class="top-navbar">
    <div class="left-section">
        <!-- <img src="/src/assets/logo/icon.png" alt="Customer Support" >  -->
        <span class="brand">Customer <br> Success</span>
    </div>
    <div class="right-section">
        <button class="export-btn" (click)="exportPdf()">Export PDF</button>
    </div>
</nav>
<div class="divider"></div>
<!-- Left Navbar -->
<aside class="left-navbar">
    <ul>
        <li><a routerLink="/project">Project</a></li>
        <li><a routerLink="/audithistory">Audit History</a></li>
        <li><a routerLink="/versionhistory">Version History</a></li>
        <li><a routerLink="/projectdescription">Project Description</a></li>
        <li><a routerLink="/scope">Scope</a></li>
        <li><a routerLink="/projectstack">Project Stack</a></li>

        
        <!-- Add more options as needed -->
    </ul>
</aside>

<!-- Main Content Area -->
<div class="main-content" #pdfcontent>
    <app-project></app-project>
    <app-audit-history></app-audit-history>
    <app-version-history></app-version-history>
    <app-project-description></app-project-description>
    <app-scope></app-scope>
    <app-project-stack></app-project-stack>
    <router-outlet></router-outlet>
</div></div>