<section>
<h1>Audit History</h1>
<div>
      <table class="mat-elevation-z8" id="dataTable">
        <thead>
          <tr>
            <th class="hidden">ID</th>
            <th class="hidden">Project Id</th>
            <th>Date Of Audit</th>
            <th>Reviewed By</th>
            <th>Status</th>
            <th>Reviewed Section</th>
            <th>Comment Queries</th>
            <th>Action Item</th>
            <th>Action</th>
          </tr> 
        </thead>
        <tbody>
          <tr *ngFor="let item of audits; let i = index">
            <ng-container *ngIf="!projectId || item.projectId === projectId">
            <td class="hidden"><input type="text" [(ngModel)]="item.id" [readOnly]="!item.editing"></td>
            <td class="hidden"><input type="text" [(ngModel)]="item.projectId" [readOnly]="!item.editing"></td>
            <td><input type="text" [(ngModel)]="item.dateOfAudit" [readOnly]="!item.editing"></td>
            <td><input type="text" [(ngModel)]="item.reviewedBy" [readOnly]="!item.editing"></td>
            <td><input type="text" [(ngModel)]="item.status" [readOnly]="!item.editing"></td>
            <td><input type="text" [(ngModel)]="item.reviewedSection" [readOnly]="!item.editing"></td>
            <td><input type="text" [(ngModel)]="item.commentQueries" [readOnly]="!item.editing"></td>
            <td><input type="text" [(ngModel)]="item.actionItem" [readOnly]="!item.editing"></td>
            <td>
              <button class="blue" *ngIf="!item.editing" (click)="editItem(i)">Edit</button>
              <button class="blue" *ngIf="item.editing" (click)="saveItem(i, item.id)">Save</button>
              <button class="red" *ngIf="item.editing" (click)="cancelItem(i, item.id)">Cancel</button>
              <button class="red" *ngIf="!item.editing" (click)="deleteItem(i, item.id)">Delete</button>
            </td>
          </ng-container>
          </tr>
        </tbody>
      </table>
    
      <button class="green" (click)="addItem(projectId)">Add</button>
      <button class="green" (click)="exportPdf()">Export Pdf</button>
</div>
</section>