<section>
  <h1>{{projectName}}</h1>
  
    <mat-tab-group>
      <mat-tab label="Scope & stack"><app-project-stack [projectId]="projectId"></app-project-stack><app-scope [projectId]="projectId"></app-scope></mat-tab>
      <mat-tab label="Project Budget"><app-project-budget [projectId]="projectId"></app-project-budget></mat-tab>
      <mat-tab label="Escalation Matrix"><app-escalation-matrix [projectId]="projectId"></app-escalation-matrix></mat-tab>
      <mat-tab label="Stakeholders"><app-stakeholders [projectId]="projectId"></app-stakeholders></mat-tab>
      <mat-tab label="Risk Profiles"><app-risk-profiles [projectId]="projectId"></app-risk-profiles></mat-tab>
      <mat-tab label="Phases/Milestone"><app-phases-milestones [projectId]="projectId"></app-phases-milestones><app-approved-teams [projectId]="projectId" ></app-approved-teams></mat-tab>
      <mat-tab label="Sprints"><app-sprint [projectId]="projectId"></app-sprint><app-det-timeline-reference [projectId]="projectId"></app-det-timeline-reference></mat-tab>
      <mat-tab label="Project Resources"><app-project-resources [projectId]="projectId"></app-project-resources><app-client-feedback [projectId]="projectId"></app-client-feedback></mat-tab>
      <mat-tab label="Project Updates"><app-project-updates [projectId]="projectId"></app-project-updates><app-meeting-minutes [projectId]="projectId"></app-meeting-minutes></mat-tab>
      <mat-tab label="Version History"><app-version-history [projectId]="projectId"></app-version-history></mat-tab>
      <mat-tab label="Audit History"><app-audit-history [projectId]="projectId"></app-audit-history></mat-tab>
    </mat-tab-group>

  </section>
    