<section>
    <h1>Project Budget</h1>
    <div>
          <table class="mat-elevation-z8" id="dataTable">
            <thead>
              <tr>
                <th class="hidden">ID</th>
                <th class="hidden">Project Id</th>
                <th>Project Type</th>
                <th>Duration (in months)</th>
                <th>Budgeted Hours</th>
                <th>Budget Currency</th>
                <th>Budgeted Cost</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of budgets; let i = index">
                <ng-container *ngIf="!projectId || item.projectId === projectId">
                <td class="hidden"><input type="text" [(ngModel)]="item.id" [readOnly]="!item.editing"></td>
                <td class="hidden"><input type="text" [(ngModel)]="item.projectId" [readOnly]="!item.editing"></td>
                <td><input type="text" [(ngModel)]="item.type" [readOnly]="!item.editing"></td>
                <td><input type="text" [(ngModel)]="item.durationInMonths" [readOnly]="!item.editing"></td>
                <td><input type="text" [(ngModel)]="item.budgetedHours" [readOnly]="!item.editing"></td>
                <td><input type="text" [(ngModel)]="item.currency" [readOnly]="!item.editing"></td>
                <td><input type="text" [(ngModel)]="item.budgetedCost" [readOnly]="!item.editing"></td>
                <td>
                  <button class="blue" *ngIf="!item.editing" (click)="editItem(i)">Edit</button>
                  <button class="blue" *ngIf="item.editing" (click)="saveItem(i, item.id)">Save</button>
                  <button class="red" *ngIf="item.editing" (click)="cancelItem(i, item.id)">Cancel</button>
                  <button class="red" *ngIf="!item.editing" (click)="deleteItem(i, item.id)">Delete</button>
                </td></ng-container>
              </tr>
            </tbody>
          </table>
        
          <button class="green" (click)="addItem(projectId)">Add</button>
          <button class="green" (click)="exportPdf()">Export Pdf</button>
        </div>
    </section>